body {
	background: black;
}

* {
	min-height: 10px;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 80%;
	margin: 0;
}

.postcard-body {
	display: flex;
	width: 100%;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 1em;
}

input {
	border: 0;
	border-bottom: grey;
	text-align: center;
}

.body-left p {
	font-size: 20px;
	text-align: center;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: red;
	padding: 1em;
}
